*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/test/resources/AUD_JPY_Week1.CSV
src/test/resources/AUD_JPY_Week2.CSV
src/test/resources/AUD_JPY_Week3.CSV
src/test/resources/AUD_JPY_Week4.CSV
src/test/resources/AUD_USD_Week2.CSV
src/test/resources/AUD_USD_Week3.CSV
src/test/resources/AUD_USD_Week4.CSV
src/test/resources/CHF_JPY_Week1.CSV
src/test/resources/CHF_JPY_Week2.CSV
src/test/resources/CHF_JPY_Week3.CSV
src/test/resources/CHF_JPY_Week4.CSV
src/test/resources/EUR_AUD_Week1.CSV
src/test/resources/EUR_AUD_Week2.CSV
src/test/resources/EUR_AUD_Week3.CSV
src/test/resources/EUR_AUD_Week4.CSV
src/test/resources/EUR_CHF_Week1.CSV
src/test/resources/EUR_CHF_Week2.CSV
src/test/resources/EUR_CHF_Week3.CSV
src/test/resources/EUR_CHF_Week4.CSV
src/test/resources/EUR_GBP_Week1.CSV
src/test/resources/EUR_GBP_Week2.CSV
src/test/resources/EUR_GBP_Week3.CSV
src/test/resources/EUR_GBP_Week4.CSV
src/test/resources/EUR_JPY_Week1.CSV
src/test/resources/EUR_JPY_Week2.CSV
src/test/resources/EUR_JPY_Week3.CSV
src/test/resources/EUR_JPY_Week4.CSV
src/test/resources/EUR_USD_Week1.CSV
src/test/resources/EUR_USD_Week2.CSV
src/test/resources/EUR_USD_Week3.CSV
src/test/resources/EUR_USD_Week4.CSV
src/test/resources/GBP_CHF_Week1.CSV
src/test/resources/GBP_CHF_Week2.CSV
src/test/resources/GBP_CHF_Week3.CSV
src/test/resources/GBP_CHF_Week4.CSV
src/test/resources/GBP_JPY_Week1.CSV
src/test/resources/GBP_JPY_Week2.CSV
src/test/resources/GBP_JPY_Week3.CSV
src/test/resources/GBP_JPY_Week4.CSV
src/test/resources/GBP_USD_Week1.CSV
src/test/resources/GBP_USD_Week2.CSV
src/test/resources/GBP_USD_Week3.CSV
src/test/resources/GBP_USD_Week4.CSV
src/test/resources/USD_CAD_Week1.CSV
src/test/resources/USD_CAD_Week2.CSV
src/test/resources/USD_CAD_Week3.CSV
src/test/resources/USD_CAD_Week4.CSV
src/test/resources/USD_CHF_Week1.CSV
src/test/resources/USD_CHF_Week2.CSV
src/test/resources/USD_CHF_Week3.CSV
src/test/resources/USD_CHF_Week4.CSV
src/test/resources/USD_JPY_Week1.CSV
src/test/resources/USD_JPY_Week2.CSV
src/test/resources/USD_JPY_Week3.CSV
src/test/resources/USD_JPY_Week4.CSV
/target/